<query-editor-row
    query-ctrl="ctrl"
    class="generic-datasource-query-row"
    has-text-edit-mode="true">

    <div class="section gf-form-group">
      <div class="gf-form">
        <label class="gf-form-label">measurement point</label>
        <input
            type="text"
            class="gf-form-input"
            ng-model="ctrl.target.mp"
            on-blur="ctrl.onChangeInternal()" />
      </div>

      <div class="gf-form">
        <label class="gf-form-label">task id</label>
        <input
            type="text"
            class="gf-form-input"
            ng-model="ctrl.target.task"
            on-blur="ctrl.onChangeInternal()" />
      </div>
    </div>

    <div class="gf-form gf-form--grow">
      <div class="gf-form-label gf-form-label--grow"></div>
    </div>
  
  </div>
</query-editor-row>

